 footer {
    display: flex;
  }
  
  .containerFooterClean {
    width: 100%;
    margin: 0 auto;
    background-color: #31302e;
    overflow: hidden;
  }
  
  .footerClean {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    list-style: none;
    padding: 0;
  }
  
  .footerClean h3 {
    color: #9b7740;
    margin-top: 0;
    font-size: x-large;
  }
  
  .footerClean li {
    color: white;
    margin-bottom: 10px;
    font-size: large;
  }

  @media screen and (max-width:700px) {
    footer{
      display: block;
    }
    .footerClean{
      margin-bottom: 50px;
    }
  }