*{
  box-sizing: 0;
}
.containerMain{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(85,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(187,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='10.23'%3E%3Cpath transform='translate(-42 9.6) rotate(6 1409 581) scale(1.024)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.4100000000000006' transform='translate(-24 24) rotate(7.2 800 450) scale(1.012)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(21.6 -72) rotate(72 401 736) scale(1.012)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.1'%3E%3Cpath transform='translate(144 -9.6) rotate(2.4 150 345) scale(0.976)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='6.820000000000001' transform='translate(-96 -60) rotate(86.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-144 48) rotate(14.4 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 100px;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #31302e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0px 4px 9px 0px #31302e;
  z-index: 99;
}

.imgLogoHome{
  max-width: 240px;
  max-height: 300px;
}

.iconBurgerMenu{
  display: none;
  color: #eadd8e;
  font-size: 2rem;
}

.divHeader{
  display: flex;
}
.headerUl{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 13px 50px;
  justify-content: space-between;
  align-items: center;
}
.headerUl li:nth-child(2){
    display: flex;
    justify-content: end;
    width: 100%;
    text-align: end;
    list-style: none;
    color: #3d048c;
    align-items: stretch;
}
button{
  width: 10rem;
  margin-right: 1rem;
  background-color: #9b7740;
  padding: 10px 40px;
}
/* .headerUl li button:nth-child(2){
  padding: 10px 40px;
} */
.cerrarSesion{
    margin-left: 30px;
}
.containerAlbum {
    display: grid;
    max-width: 120rem;
    padding: 3rem 6.5rem !important;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
  }

.containerMain div{
  padding: 0 1rem;
}

.containerAlbum h2{
  color: #000000;
}

.titleAlbums{
  text-align: center;
  font-size: 50px;
  color: #6e4949;
  background-color: #fef4f3;
  padding: 40px 0;
}

.containerAlbum p{
    color: #000000;
    font-size: 30px;
    margin-bottom: 100px;
}
.containerAlbum div{
    text-align: center;
}
.containerImg{
    overflow: hidden;
}
.containerImg:hover .ImgAlbum{
    border-radius: 8px;
 transform:scale(1.1);
 transition: .5s;
}
.ImgAlbum{
    max-width: 260px;
    max-height: 260px;
    border-radius: 50%;
    transition: .5s;
}
.ImgAlbum:hover{
    cursor: pointer;
}

/* LOADING MUSIC RADIO INC */
.ldsSpinner {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(85,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(187,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='10.23'%3E%3Cpath transform='translate(-42 9.6) rotate(6 1409 581) scale(1.024)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.4100000000000006' transform='translate(-24 24) rotate(7.2 800 450) scale(1.012)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(21.6 -72) rotate(72 401 736) scale(1.012)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.1'%3E%3Cpath transform='translate(144 -9.6) rotate(2.4 150 345) scale(0.976)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='6.820000000000001' transform='translate(-96 -60) rotate(86.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-144 48) rotate(14.4 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  }

  .ldsSpinner div {
    margin-top: 180px;
    transform-origin: 53px 128px;
    animation: ldsSpinner 1.2s linear infinite;
  }
  .ldsSpinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 37px;
    height: 47px;
    border-radius: 20%;
    background: #670495;
  }
  .ldsSpinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .ldsSpinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .ldsSpinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .ldsSpinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .ldsSpinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .ldsSpinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .ldsSpinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .ldsSpinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .ldsSpinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .ldsSpinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .ldsSpinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .ldsSpinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes ldsSpinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @media screen and (max-width:760px){

    .headerUl{
      padding: 13px 14px;
    }

    .iconBurgerMenu{
      display: flex;
    }

    .imgLogoHome {
      max-width: 190px;
  }

    .headerUl li:nth-child(2) {
      position: absolute;
      flex-direction: column;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      background-color: #31302e94;
      left: 0;
      width: 100%;
      height: 100vh;
      top: -1000px;
      left: -900px;
      z-index: -1;
      transition: all 1s ease;
    }

    .headerUl li button{
      width: 10rem;
      margin: 10px 15px;
    }

    .headerUl li.active{
      top: 99%;
      left: 0;
      transition: all .6s ease;
      border-radius: 0 0 80% 0;
      width: 100%;
      height: 100vh;
      background-color: #31302e;
    }
  

    .ldsSpinner div:after {
      top: 3px;
      left: 37px;
      width: 37px;
      height: 14px;
    }
    .ldsSpinner div {
      margin-top: 230px;
      transform-origin: 1px 11px;
      position: absolute;
    }
  }

@media screen and (max-width: 600px) {
  .containerAlbum {
    padding: 5rem 1rem !important;
    }

    .titleAlbums{
      text-align: center;
      font-size: 30px;
      padding: 40px 0;
    }
    .ImgAlbum {
      max-width: 260px;
  }
  }

  @media screen and (max-width: 340px) {
    .ImgAlbum{
      max-width: 168px;
      max-height: 170px;
    }
    .containerAlbum h2{
      font-size: 18px;
    }
  }
